<!-- Navbar Start -->
<div class="container-fluid p-0 mb-3">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">News</span>Room</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse"
            *ngIf="currentUser">
            <div class="navbar-nav mr-auto py-0">
                <a routerLink="home" class="nav-item nav-link active">Home</a>
            </div>
            <div class="input-group ml-auto navbar-nav" style="width: 100%; max-width: 300px;">
                <a class="nav-item nav-link pointer" (click)="logout()">Logout</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse"
            *ngIf="!currentUser">
            <div class="navbar-nav mr-auto py-0">
                <a class="nav-item nav-link active pointer" (click)="Register()"
                    *ngIf="!this.dataService.IsNewUser">Sign Up</a>
                <a class="nav-item nav-link active pointer" (click)="Login()"
                    *ngIf="this.dataService.IsNewUser">Login</a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->

<angular-loader></angular-loader>
<router-outlet></router-outlet>

<div class="container-fluid bg-light pt-5 px-sm-3 px-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="index.html" class="navbar-brand">
                <h1 class="mb-2 mt-n2 display-5 text-uppercase"><span class="text-primary">News</span>App</h1>
            </a>
            <!-- <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p> -->
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;"
                    href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;"
                    href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;"
                    href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;"
                    href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;"
                    href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5" *ngIf="currentUser">
            <h4 class="font-weight-bold mb-4">Categories</h4>
            <div class="d-flex flex-wrap m-n1">
                <a (click)="story('world')" class="btn btn-sm btn-outline-secondary m-1">World</a>
                <a (click)="story('science')" class="btn btn-sm btn-outline-secondary m-1">Science</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5" *ngIf="currentUser">
            <h4 class="font-weight-bold mb-4">Tags</h4>
            <div class="d-flex flex-wrap m-n1">
                <a (click)="story('world')" class="btn btn-sm btn-outline-secondary m-1">World</a>
                <a (click)="story('science')" class="btn btn-sm btn-outline-secondary m-1">Science</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5" *ngIf="currentUser">
            <h4 class="font-weight-bold mb-4">Quick Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Category</a>
                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Privacy &
                    policy</a>
                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right text-dark mr-2"></i>Terms &
                    conditions</a>
            </div>
        </div>
    </div>
</div>